.demo-style-switch {
    opacity: 0.8;
    position: fixed;
    z-index: 9999;
    top: 150px;
    left: -100px;
    background-image: linear-gradient(45deg,rgb(3, 138, 86), #141414);
    border-radius: 20% 0% 20% 0%;

}

.demo-style-switch:hover {
    opacity: 1 ;
}

.demo-style-switch .switched-options {
    position: relative;
    width: 100px;
    height:85px;
    text-align: center;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.demo-style-switch .config-title {
    text-transform: uppercase;
    font-weight: 220;
    font-size: 8px;
    color: #000;

    margin-bottom: 0px;
}

.demo-style-switch ul {
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
}

.demo-style-switch ul .active {
    color: #005885;
    font-weight: 220;
}



.demo-style-switch ul li a {
    font-size: 12px;
    font-weight: 160;
    line-height: normal;
    color: #808080;
}

.demo-style-switch ul li a:hover {
    color: #008ed6;
}

.demo-style-switch ul.styles {
    margin-top: 0px;
}

.demo-style-switch ul.styles li {
    display: inline-block;
    margin-right: 0px;
}

.demo-style-switch ul.styles li .GB,
.demo-style-switch ul.styles li .BG
{
    color:black;
    text-align:center;
    background: -webkit-linear-gradient(rgb(85, 219, 85), #0196a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80px;
    height: 22px;
    
}

.demo-style-switch ul.styles li .BG {
    border-radius: 20%;
}


.demo-style-switch ul.styles li .GB {
    border-radius: 20%;
}



.demo-style-switch .switch-button {
    opacity: 1 !important;
    background: #F5F5F5;
    padding: 11.5px;
    font-size: 20px;
    color: #272727;
    position: absolute;
    overflow: hidden;
    right: -50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.demo-style-switch .switch-button:hover {
    color: #00660e;
    cursor: pointer;
    text-decoration: none;
}